.accountContainer{
    width: 30%;
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    margin: auto;
}
.HeaderWrapper{
    font-size: 30px;
    text-align: center;
}
.infoWrapper{
display: flex;
flex-direction: row;
position: relative;
padding: 10px;
width: 100%;
height:50px;
margin: 40px 0;
border-bottom: 1px solid;
}
.MainPart{
    font-weight: 1000;
    background-color: black;
    color: white;
    margin-right: 40px;
}
#btnChange{
    font-family: 'Roboto Mono';
    width: 100%;
    height: 45px;
    border: none;
    outline: none;
    background-color: white;
    color: hsl(240, 100%, 50%);
    border: 1px solid hsl(240, 100%, 50%);
    transition: 0.3s;
    font-size: 30px;
    margin-bottom: 10px;
    border-radius: 40px;
}

#btnChange:hover{
    background-color: hsl(240, 100%, 50%);
    color: white;
    box-shadow: 20px;
    border-radius:  40px 0;
}


@media screen and (max-width: 600px) {
.accountContainer{
 width: 100%;
 }   
 }


