body{
    display:block;
}
.Cart-container,.button-container{
    text-align: center;
    padding: 10px;
    width: fit-content;
    font-size: 32px;
    margin: auto;
    background-color: white;
    border-radius: 10px;
}

.Cart-container th{
 border-bottom: 1px solid;
}
.Cart-container td{
    text-align: center;
    padding:  20px 40px;
}
.CartItem-container{
    display: flex;
}
.CartItem{
    width:200px;
    border-bottom: 1px solid;
    padding: 20px;
}
.cartItemEdit{
    display:grid;
}
.btnEdits{
    border-radius: 10px;
    cursor: pointer;
    font-size: 0.75em;
}
.button-container{
    margin-top: 10px;
    width:fit-content;
    padding: 10px;
}
.button-container input{
    font-family: 'Roboto Mono';
    width: 150px;
    height: 50px;
    background-color: transparent;
    border-style: solid;
    border-radius: 10px;
    transition: 0.5s;
}

#btnClear{
    color: red;
    border-color: red;

}
#btnClear:hover{
    box-shadow: inset 11.5em 0 0 0  red;
    color: white;
    border-radius:  40px 0;
}
#btnPurchase{
    color: green;
    border-color: green;
}

#btnPurchase:hover{
    color: white;
    border-radius:  40px 0;
    box-shadow: inset 11.5em 0 0 0 green;
}

