body{
    display:block;
}
.Cart-container,.button-container{
    text-align: center;
    padding: 10px;
    width: fit-content;
    font-size: 32px;
    margin: auto;
    background-color: white;
    border-radius: 10px;
}

.CartItem-container{
    display: flex;
    border-bottom: 1px solid;
}
.CartItem{
    width:200px;
    padding: 20px;
}
.cartItemEdit{
    display:grid;
    align-content: space-around;
}
.btnEdits{
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 1em;
    padding: 10px;
    background-color: transparent;
    transition: 1s;
}
.btnEdits:hover{
    border: 1px solid;
    border-radius: 30px;
}
.button-container{
    margin-top: 10px;
    width:fit-content;
    padding: 10px;
}
.button-container input{
    font-family: 'Roboto Mono';
    width: 150px;
    height: 50px;
    background-color: transparent;
    border-style: solid;
    border-radius: 10px;
    transition: 0.8s;
}

#btnClear{
    color: red;
    border-color: red;

}
#btnClear:hover{
    box-shadow: inset 11.5em 0 0 0  red;
    color: white;
    border-radius:  40px ;
}
#btnPurchase{
    color: green;
    border-color: green;
}

#btnPurchase:hover{
    color: white;
    border-radius:  40px ;
    box-shadow: inset 11.5em 0 0 0 green;
}

@media screen and (max-width: 600px) {
    
}