.Cart-container{
    background-color: white;
    margin: auto;
    padding: 20px;
    width: fit-content;
    border-radius: 10px;
}

.cart-wrapper{
    display: flex;
    justify-content: space-evenly;
}

.CartHeader,.CartItem{
    margin: 10px 20px;
}