@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
  --BackGroundColor: #ff990084;
  --MainColor: hsl(240, 100%, 50%);
  --NonActiveFontColor: white;
  
}
body{  
    background-color:var(--BackGroundColor);
    margin:0px;
    font-family: 'Roboto Mono';
}
.PageHeader{
    background-color: var(--MainColor);
    border-bottom: 3px solid;
    padding-bottom: 9px ;
}
.PageHeader h1{
    color: var(--NonActiveFontColor);
    text-align: center;
    font-size: 2em;
}
.UserNavBar a{
    color: var(--NonActiveFontColor);
    margin: 0 10px;
    text-align: center;
    text-decoration: none;
    font-size: 2em;
    padding: 0px;
    border-radius: 390px;
    transition: 0.8s;
}
.UserNavBar a:hover{
    background-color: white;
    color:var(--MainColor);
    border-radius: 10px;
    padding:0 50px;
}

.WelcomeMessage{
    text-align: center;
    font-size: 40px;
}

footer{
    position: absolute;
    border-top: 3px solid black;
    margin-top: 10px;
    background-color: var(--MainColor);
    width: 100%; 
}
footer address{
    color: var(--NonActiveFontColor);
    padding: 10px;
    margin-bottom: 10px;
}
footer p{
    color: var(--NonActiveFontColor);
    float: left;
    margin: 5px;
    flex-direction: row; 
}
@media screen and (max-width: 600px) {
    .UserNavBar{
        display: flex;
        flex-direction: column;
    }
}

.indexPIC{
    width: auto;
    height: 200px;
    margin: 10px;
}
.indexPara{
    margin: 10px;
}
.indexPara{
    margin: 10px 50px;
}





/* TODO FAQ THING */

.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width:70%;
    text-align: left;
    border: none;
    outline: none;
    margin: 0px 10px;
  }
  
  /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
  .active, .accordion:hover {
    background-color: #ccc;
  }
  
  /* Style the accordion panel. Note: hidden by default */
  .panel {
    width:70%;
    padding: 18px;
    background-color: white;
    display: none;
    overflow: hidden;
    margin: 0px 10px;
  }