@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

:root{
  --BackGroundColor: #ff9900;
  --MainColor: 
}
body{  
    background-color:var(--BackGroundColor);
    margin:0px;
    font-family: 'Roboto Mono';
}
.PageHeader{
    background-color: burlywood;
    border-bottom: 1px solid;
    padding-bottom: 9px ;
}
.PageHeader h1{
    text-align: center;
    font-size: 3em;
}
.UserNavBar a{
    color: black;
    margin: 0 10px;
    text-align: center;
    text-decoration: none;
    font-size: 2em;
    padding: 10px;
}
.UserNavBar a:hover{
background-color: white;
border-radius: 0 30px;
}

.WelcomeMessage{
    text-align: center;
    font-size: 5em;
}

